/* Part2.css */
.card {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card-title {
    font-size: 1.15rem;
    margin-top: 16px;
    font-weight: bold;
  }